$primary-color: #000;
$contrast-color: #343434;
$hover-color: #FFF;

$input-color: #282727;
$text-color: #AAA;

$accent-color: #EDEC51;
$second-accent-color: #3273C5;

$accent-box-shadow: 0 0 6px 2px rgba(237, 236, 81, 0.7);
$second-accent-box-shadow: 0 0 6px $second-accent-color, 0 0 6px $second-accent-color, 0 0;;
$background-accent-box: rgba(50, 115, 197, 0.2);

