@import 'colors';
@import 'breakpoints';

body {
  font-family: 'rubik-regular', 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: $text-color;
}

body::after {
  content: "";
  background-image: url(src/assets/images/background.jpg);
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

h1 {
  font-size: 2em;
  font-family: 'rubik-bold', 'Open Sans', sans-serif;
}

h2 {
  font-size: 1.5em;
  font-family: 'rubik-bold', 'Open Sans', sans-serif;
  padding: 10px 0;
}

h3 {
  font-family: 'rubik-regular', 'Open Sans', sans-serif;
  padding: 5px 0
}

h4 {
  font-family: 'rubik-regular', 'Open Sans', sans-serif;
}

p {
  color: $text-color;
}

a {
  font-size: 0.775rem;
  opacity: 0.6;
  transition: opacity .25s ease-in-out;
}

a:hover {
  text-decoration: underline;
  opacity: 1;
  box-shadow: 0 0 6px 2px rgba(237,236,81,0.7);
}


@media (min-width: $md) {
  body {
    font-size: 14px;
  }
}

@media (min-width: $lg) {

}

@media (min-width: $xl) {
}

