@import 'colors';
@import 'breakpoints';

body {
  font-family: 'rubik-regular', 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: $background-color;
  color: $primary-color;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'rubik-bold', 'Open Sans', sans-serif;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  font-family: 'rubik-bold', 'Open Sans', sans-serif;
  padding: 10px 0;
  text-transform: uppercase;
}

h3 {
  font-size: 1.125rem;
  font-family: 'rubik-regular', 'Open Sans', sans-serif;
  padding: 5px 0
}

h4 {
  font-size: 1rem;
  font-family: 'rubik-regular', 'Open Sans', sans-serif;
}

a {
  font-size: 0.775rem;
  opacity: 0.6;
  transition: opacity .25s ease-in-out;
}

a:hover {
  text-decoration: underline;
  opacity: 1;
}

.App-main-container {
  position: relative;
  max-width: 100%;
  background-color: #FFF;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.App-section-container {
  padding: 15px 15px 0 15px;
  text-align: left;
}

@media (min-width: $md) {
  body {
    font-size: 14px;
  }

  .App-section-container {
    padding: 20px;
  }
}

@media (min-width: $lg) {
  .App-main-container {
    max-width: 960px;
    margin: 0 auto;
  }

  .App-section-container {
    padding: 10px 25px;
  }

}

@media (min-width: $xl) {
}

