@import 'colors';
@import 'breakpoints';

body {
  font-family: 'rubik-regular', 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: $primary-color;
  background-image: url(src/assets/images/background.jpg),
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'rubik-bold', 'Open Sans', sans-serif;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  font-family: 'rubik-bold', 'Open Sans', sans-serif;
  padding: 10px 0;
}

h3 {
  font-size: 1.125rem;
  font-family: 'rubik-regular', 'Open Sans', sans-serif;
  padding: 5px 0
}

h4 {
  font-size: 1rem;
  font-family: 'rubik-regular', 'Open Sans', sans-serif;
}

a {
  font-size: 0.775rem;
  opacity: 0.6;
  transition: opacity .25s ease-in-out;
}

a:hover {
  text-decoration: underline;
  opacity: 1;
  box-shadow: 0 0 6px 2px rgba(237,236,81,0.7);
}

.App-main-container {
  position: relative;
  max-width: 100%;
}

@media (min-width: $md) {
  body {
    font-size: 14px;
  }
}

@media (min-width: $lg) {
  .App-main-container {
    max-width: 1240px;
    margin: 0 auto;
  }

}

@media (min-width: $xl) {
}

