@import "../../../../assets/config/colors";

.App-element {
  padding: 10px;
  position: relative;
}

.App-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $contrast-color;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .8s ease;
}

.App-element:hover .App-overlay {
  height: 100%;
}

.App-element-header {
  text-align: center;
  p {
    color: #3273c5;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.App-element-boxes {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

.App-element-box {
  background-color: $background-accent-box;
  border: 1px solid $second-accent-color;
  box-shadow: $second-accent-box-shadow;
  padding: 10px;
  text-align: center;
}

.App-small-box {
  width: 40%;
}

.App-big-box {
  width: 90%;
  margin: 10px auto;
}

.App-title {
  color: #fff;
  text-transform: uppercase;
}

.App-planet-content {
  font-size: 1.5rem;
  padding: 5px;
}

