@import '../../../../assets/config/colors';
@import '../../../../assets/config/breakpoints';

.App-film-list-element {
  background-color: $green-accent-color;
  border: 3px solid $green-accent-color;
  margin: 5px 0;
  padding: 5px;
  text-align: center;
  color: $hover-color;
}

@media (min-width: $md) {
  .App-film-list-element {
    width: 45%;
    margin: 0 15px;
  }
}

@media (min-width: $lg) {
  .App-film-list-element {
    width: 30%;
  }
}

@media (min-width: $xl) {
}

