@import '../../../../assets/config/colors';
@import '../../../../assets/config/breakpoints';

.App-list {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.App-list-element {
  background-color: $background-accent-box;
  border: 3px solid $second-accent-color;
  box-shadow: $second-accent-box-shadow;
  margin: 5px 0;
  cursor: pointer;
}

@media (min-width: $md) {
  .App-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px 0;
  }

  .App-list-element {
    width: 45%;
    margin: 15px;
  }
}

@media (min-width: $lg) {
  .App-list-element {
    width: 30%;
  }
}

@media (min-width: $xl) {
}

