<div class="App-list-header">
  <h2>Planets & planetoids in the Star Wars Universe: <strong>{{maxAPINumberOfListEl}}</strong></h2>
</div>

<div class="App-list-wrapper">
  <div class="App-bar">
    <div class="App-input App-search-bar">
      <input [ngModel]="searchInput" name="searchInput" placeholder="Search" />
    </div>
    <div class="App-bar-navigation">
      <div class="App-input">
        <select [ngModel]="noElementsPerPage" (ngModelChange)="onChangeNoElements($event)" name="noElementsPerPage">
          <option [ngValue]="el" *ngFor="let el of arrElementsPerPage">{{el}}</option>
        </select>
      </div>
      <div class="App-bar-navigation-counter">
        <div class="App-input App-current-page-input">
          <input [ngModel]="currentPageNo" (ngModelChange)="onChangePageNumber($event)" name="currentPageNo" />
        </div>
        <p class="App-max-no-pages"> / {{maxNumberOfPages}}</p>
      </div>
    </div>
  </div>

  <app-list [planetsToDisplay]="planetsToDisplay" [sliceBegin]="sliceBegin" [sliceEnd]="sliceEnd"></app-list>

  <div class="App-btns-container">
    <button type="button" (click)="goToNextPage()" [disabled]="currentPageNo===maxNumberOfPages">Next</button>
    <button type="button" (click)="goToPrevPage()" [disabled]="currentPageNo===1">Previous</button>
  </div>

</div>
