@import '../../../assets/config/colors';
@import '../../../assets/config/breakpoints';

.App-header {
  padding: 5px;
  text-align: center;
  .App-logo {
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 2px;
  }
}

@media (min-width: $md) {}

@media (min-width: $lg) {
  .App-header {
    padding: 20px;
    .App-logo {
      width: 200px;
    }
  }
}

@media (min-width: $xl) {}
