<div class="App-list-header">
  <h2>Planets & planetoids in the Star Wars Universe: <strong>{{maxAPINumberOfListEl}}</strong></h2>
</div>

<div class="App-list-header-wrapper">
  <div class="App-bar">
    <div class="App-input App-search-bar">
      <input [ngModel]="searchInput" name="searchInput" placeholder="Search"/>
    </div>
    <div class="App-bar-navigation">
      <div class="App-input">
        <select [ngModel]="noElementsPerPage" (ngModelChange)="onChangeNoElements($event)" name="noElementsPerPage">
          <option [ngValue]="el" *ngFor="let el of arrElementsPerPage">{{el}}</option>
        </select>
      </div>
      <div class="App-bar-navigation-counter">
        <div class="App-input App-current-page-input">
          <input [ngModel]="currentPageNo" (ngModelChange)="onChangePageNumber($event)" name="currentPageNo" />
        </div>
        <p class="App-max-no-pages"> / {{maxNumberOfPages}}</p>
      </div>
    </div>
  </div>

  <div class="">
    <div *ngFor="let planet of planetsToDisplay | slice:sliceBegin:sliceEnd; index as i" class="">
      <div>
        <div>
          <p>{{i+1}} {{planet.name}} </p>
        </div>
      </div>
    </div>
    <hr>

    <hr>
    <button type="button" (click)="goToPrevPage()" [disabled]="currentPageNo===1">previousPage</button>
    <button type="button" (click)="goToNextPage()" [disabled]="currentPageNo===maxNumberOfPages">nextPage</button>

  </div>

</div>
