@import "../../../assets/config/colors";
@import "../../../assets/config/breakpoints";

.App-list-header {
  background-color: $primary-color;
  text-align: center;
  position: fixed;
  width: 100%;
  border-top: 1px solid;
  strong {
    color: $accent-color;
  }
}

.App-list-header-wrapper {
  padding-top: 60px;
  max-width: 100%;

}

@media (min-width: $md) {
}

@media (min-width: $lg) {
  .App-list-header-wrapper {
    padding-top: 50px;
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: $xl) {
}
