@import "../../../assets/config/colors";
@import "../../../assets/config/breakpoints";

.App-list-header {
  background-color: $primary-color;
  text-align: center;
  position: fixed;
  width: 100%;
  border-top: 1px solid;
  z-index: 2;
  strong {
    color: $accent-color;
  }
}

.App-list-header-wrapper {
  padding: 60px 10px 0 10px;
  max-width: 100%;
}

.App-bar {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.App-input {
  border-radius: 5px;
  background-color: $input-color;
  height: 40px;
  margin: 0 3px;
  input,
  select {
    height: 40px;
    background-color: $input-color;
    border: unset;
    padding: 5px;
    color: $hover-color;
    border-radius: 5px;
  }
}

*:focus {
  outline: none;
}

.App-search-bar {
  margin-bottom: 5px;
  input {
    width: 80%;
  }
}

.App-bar-navigation {
  display: flex;
  justify-content: flex-end;
}

.App-bar-navigation-counter {
  display: flex;
  font-size: 1rem;
}

.App-current-page-input {
  input {
    width: 50px;
    text-align: center;
  }
}

.App-max-no-pages {
  line-height: 40px;
  color: $hover-color;
}

.App-btns-container {
  button {
    width: 100%;
    height: 50px;
    background-color: $primary-color;
    margin: 5px 0;
    border-radius: 5px;
  }
  button:hover:enabled {
    border: 2px solid $accent-color;
    box-shadow: $accent-box-shadow;
  }
  button:disabled  {
    background-color: $text-color;
    color: $primary-color;
  }
}

@media (min-width: $md) {
  .App-bar {
    flex-direction: row;
    justify-content: space-between;
  }

  .App-search-bar {
    width: 40%;
    margin: unset;
    input {
      width: 80%;
    }
  }

  .App-btns-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    button {
      width: 20%;
      margin: 0 5px;
    }
  }
}

@media (min-width: $lg) {
  .App-list-header-wrapper {
    padding-top: 50px;
    max-width: 960px;
    margin: 0 auto;
  }

  .App-search-bar {
    width: 30%;
    margin: unset;
    input {
      width: 80%;
    }
  }
}

@media (min-width: $xl) {
}
