<div>
  planetsToDisplay: {{planetsToDisplay.length}}
</div>

<hr>

<select [ngModel]="noElementsPerPage" (ngModelChange)="onChangeNoElements($event)">
  <option [value]="i" *ngFor="let i of arrElementsPerPage">{{i}}</option>
</select>

<p>
  maxNumberOfPages {{maxNumberOfPages}}
</p>

<p>
  currentPageNumber {{currentPageNumber}}
</p>

<div class="">
  <div *ngFor="let planet of planetsToDisplay | slice:sliceBegin:sliceEnd; index as i" class="">
    <div>
      <div><p>{{i+1}} </p>{{planet.name}}</div>
    </div>
  </div>
  <hr>


  <hr>
  <button type="button" (click)="goToPrevPage()">previousPage</button>
  <button type="button" (click)="goToNextPage()">nextPage</button>

</div>
